*
!*/
!/README.md
!/LICENSE.txt

Applications/
Creative Cloud Files/
Desktop/
Documents/
Downloading/
Downloads/
Dropbox/
Google Takeout/
Library/
Movies/
Music/
Pictures/
Praxa/
Public/
ReassembledNostalgiaFragments/
Rescued/
Sync/
Typography/
default.etcd/
go/
siegfried/

!.gitignore

!.bash_config.d/**
!.beaker/v1/config/beaker.pref.json
!.conan/**
!.config/**
!.dircolors/**
!.docker/**/*.json
!.emacs.d/**
!.httpie/**/*.json
!.ipython/**
!.iterm2/**
!.jupyter/**
!.keras/**
!.matplotlib/**
!.pineapple/**
!.ptpython/**
!.pyzo/**/*.ssdf
!.script-bin/**

!.atom/*.[cj]son
!.atom/*.coffee
!.atom/*.less

!.aptly.conf
!.bash_profile
!.gemrc
!.gitattributes.global
!.gitignore
!.gitignore.global
!.iterm2_shell_integration.bash
!.lldbinit
!.npmrc
!.yarnrc

**/.DS_Store
**/.ds_store
**/__pycache__/
**/*~

**/*.pyc
**/*.o
**/*.so
**/*.dylib

.pypirc
.Rhistory
.bash_history
.bpythonhist
.bpythonhist.py2
.bpythonhist.py3
.cling_history
.lesshst
.node_repl_history
.python_history
.pythonhist
.sqlite_history
.wget-hsts

.lnav/
.vscode/
